@font-face {
  font-family: "Swansea";
  src: url("@/assets/fonts/Swansea.woff2") format("woff2"),
    url("@/assets/fonts/Swansea.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Swansea";
  src: url("@/assets/fonts/SwanseaBold.woff2") format("woff2"),
    url("@/assets/fonts/SwanseaBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
