body {
  margin: 0;
  padding: 0;
  font-family: "Swansea", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
